body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cyan;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}
.section
{
    background-color: beige;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 50px 0 20px maroon;
    width: 90%;
    max-width: 500px;
}
form input
{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.botonenviar
{
    padding: 10px;
    background-color: greenyellow;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    color: blue;
    cursor: pointer;
}
.botonborrar
{
    padding: 10px;
    background-color: rgb(122, 13, 90);
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    color: rgb(123, 255, 0);
    cursor: pointer;
}
table th
{
    border: 2px solid coral;
    margin-top: 10opx color blue;
}
a
{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}