<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="{{url_for('static',filename='style.css')}}">
    <title>Registro</title>
</head>
<body>
    <div class="section">
        <form method="post">
            <input type="text" name="nombre" id=""placeholder="Ingrese su nombre" required>
            <input type="email" name="correo" id=""placeholder="Ingrese su correo electronico" required>
            <button class="botonenviar" type="submit">Registrar usuarios</button><br><br>
        </form>
        <table>
            <tr>
                <th>id usuario</th><th>nombre de usuario</th><th>correo electronico</th><th>Acciones</th>
                {% for persona in usuarios %}
                    <tr>
                        <td>{{persona.id}}              </td>
                        <td>{{persona.nombre_usuario}}  </td> 
                        <td>{{persona.correo_usuario}}  </td>
                        <td>
                            <button class="botonborrar">
                                <a href="/?borrar={{persona.id}}">Eliminar</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>